<div class="col-xs-12 box-border-dark" style="margin-top:50px;" ng-repeat="course in courses">
    <a href="#">
        <h5 class="row col-xs-12">
            <span>{{course.subject}} {{course.courseLevel}} | {{course.schoolClass.name}} | {{course.classroom}} </span>
            <sup><i class="fa fa-external-link" aria-hidden="true"></i></sup>
        </h5>
    </a>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12 box-border margin-top-bottom padding-top-bottom">
                <p class="col-xs-12">
                    <!--<i class="fa fa-file" aria-hidden="true"></i>
                    <span>Assignments</span>-->
                </p>
                <p class="col-xs-12"></p>
            </div>
        </div>
    </div>
</div>