<div class="theme-dark">
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active' : currentPage == 'create'}"><a xref="/Manage/Schedule/Create/">Create</a></li>
        <li role="presentation" ng-class="{'active' : currentPage == 'edit'}"><a xref="/Manage/Schedule/Edit/">Edit</a></li>
        <li role="presentation" ng-class="{'active' : currentPage == 'remove'}"><a xref="/Manage/Schedule/Remove/">Remove</a></li>
    </ul>

    <div ng-include="template[currentPage]" class="col-xs-12"></div>

    <div class="image-wrapper col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <canvas id="ScheduleCanvas"></canvas>
        <i class="fa fa-circle-o-notch fa-spin fa-fw loading" id="canvasLoading"></i>
    </div>
</div>