<div class="theme-dark">
    <h4 class="col-xs-12">Create new class</h4>

    <form method="post" name="registerForm" ng-submit="CreateNewClass(registerForm.$valid)" class="row col-xs-12" novalidate autocomplete="off">
        <div class="form-group col-sm-6 col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Name" ng-model="schoolClass.name" ng-pattern="/^([a-z]|å|ä|ö| |[A-Z]|Å|Ä|Ö|[0-9]|-])+$/" ng-minlength="1" ng-maxlength="50" validate="registerForm.name" required />
                <div class="input-group-addon">
                    <i class="fa fa-lg fa-pencil center-icon-block" aria-hidden="true"></i>
                    <div class="help-block info" ng-messages="registerForm.name.$error">
                        <div ng-message="required">Firstname is required.</div>
                        <div ng-message="pattern">Firstname can only contain characters A-Ö and numbers 0-9.</div>
                        <div ng-message="valueUsed">{{registerForm.name.valueUsedMessage}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-6 col-xs-12">
            <div class="input-group">
                <input type="date" class="form-control input-lg" name="validTo" id="validTo" placeholder="Enter valid to date" ng-model="schoolClass.validTo" validate="registerForm.validTo" required />
                <div class="input-group-addon">
                    <i class="fa fa-lg fa-calendar center-icon-block" aria-hidden="true"></i>
                    <div class="help-block info" ng-messages="registerForm.validTo.$error">
                        <div ng-message="required">Date is required.</div>
                        <div ng-message="valueUsed">{{registerForm.name.valueUsedMessage}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-6 col-sm-offset-6 col-xs-12 col-xs-push-0">
            <button type="submit" class="col-sm-6 col-sm-push-6 col-xs-12 col-xs-push-0">
                <i class="fa fa-lg fa-plus fa-lg" aria-hidden="true"></i>
                <span>Create class</span>
            </button>
        </div>
    </form>
</div>