<h4 class="col-xs-12">Upload new file(s)</h4>

<div class="col-xs-6 col-xs-offset-3 dnd-wrapper box" id="fileUploadDrop" file-dnd ng-model="dndModel">
    <span class="dashing-border"><i></i></span>
    <span class="dashing-border"><i></i></span>
    <span class="dashing-border"><i></i></span>
    <span class="dashing-border"><i></i></span>

    <div class="dnd-zone">
        <div class="dnd-textarea">
            <span class="bgtext-select-file">Drop files here</span>
            <span class="bgtext-select-file">or</span>
            <button class="btn-select-file">
                <i class="fa fa-upload transition" aria-hidden="true"></i>
                <span>Select file</span>
            </button>
        </div>

    </div>
</div>